<% if (discError != '') { %>

    <div class="error-flash">
        <p><%= discError %> </p>
    </div>

<% } %>

<% if (discSuccess != '') { %>

    <div class="success-flash">
        <p><%= discSuccess %> </p>
    </div>

<% } %>