/node_modules
/public/tracks
/public/templates
/public/discography
/public/*.txt
/public/img/*

!/public/img/bg.gif
!/public/img/contact-bg2.jpg
!/public/img/1599321760174.jpg
!/public/img/DSC_8369_downscaled.jpg
!/public/img/favicon.png

unused.txt