<div class="page-content">
        <div class="content-title">
                <h1>ABOUT</h1>
                <!-- <p>About me. Check out my discography below:</p> -->
            </div>
        <div class="content-container">
            <div class="about-container">
                <div class="about-img">
                    <img src="img/1599321760174.jpg" alt="">
                </div>
                <div class="about-info">
                    <h1>SIXON</h1>
                    <h2>Alexander Wahab</h2>
                    <p>Music producer specializing in R&B and hip-hop beats. Follow @sixonmusic on instagram and soundcloud to stay up to date. Contact me for commercial use of a beat</p>
                </div>
            </div>
            
        </div>
        <div class="discography-container">
                <h1>DISCOGRAPHY</h1>
                <ul>
                    <% for( let i = 0; i < discographyList.length; i++ ) { %>
                        <li class="disc-item">
                            <img src="<%= discographyList[i].discCoverPath %> " alt="">
                            <div class="disc-hover">
                                <%- discographyList[i].discSpotify %>
                            </div>
                        </li>
                    <% } %>
                    
                    
                </ul>
            </div>
    </div>