<div class="page-content">
        <div class="content-title">
                <h1>ABOUT</h1>
            </div>
        <div class="content-container">
            <div class="about-container">
                <div class="about-img">
                    <img src="img/DSC_8369_downscaled.jpg" alt="">
                </div>
                <div class="about-info">
                    <h1>SIXON</h1>
                    <h2>Alexander Wahab</h2>
                    <p>Toronto Born Music Producer</p>
                </div>
            </div>
            
        </div>
        <div class="discography-container">
                <h1>DISCOGRAPHY</h1>
                <ul>
                    <% for( let i = 0; i < discographyList.length; i++ ) { %>
                        <li class="disc-item">
                            <img src="<%= discographyList[i].discCoverUrl %> " alt="">
                            <div class="disc-hover">
                                <%- discographyList[i].discSpotifyEmbed %>
                            </div>
                        </li>
                    <% } %>
                    
                    
                </ul>
            </div>
    </div>