<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="prodbysixon">
    <meta name="description" content="Toronto born music producer">
    <meta name="keywords" content="toronto, music, producer, hip-hop, rnb, beats, rap, drill, music producer, sixon, prodbysixon, beats by sixon, sixon music">
    <title>Beats by SIXON 
    <% if (typeof title != 'undefined') { %>
        <%= title %>
    <% } %> 
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.png" />
</head>
<body>
    <div>
        <nav class="nav-container">
            <div>
                <div class="nav-logo-container">
                    <a href="/">SIXON</a>
                </div>
                <div class="mobile-menu-btn">
                    <span class="menu-btn-container" onclick="toggleMobileMenu()"><i class="fas fa-bars"></i></span>
                </div>
                <ul class="nav-links">
                    <li class="nav-item"><a href="/about" class="link">About</a></li>
                    <li class="nav-item"><a href="/" class="link">Tracks</a></li>
                    <li class="nav-item"><a href="/pricing" class="link">Pricing</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="ejs-container">
        <%- body %>
    </div>

    <div class="footer-container">
        <div class="content-container">
            <div class="footer">
                <div class="footer-1">
                    <div class="footer-socials">
                            <a href="https://www.instagram.com/alexander.wahab/"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.youtube.com/user/TheChurZy/"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="footer-nav">
                            <a href="/">Tracks</a>
                            <a href="/about">About</a>
                            <a href="/pricing">Pricing</a>
                        </div>
                        <div class="footer-copyright">
                            <p>&copy; 2021 Sixon Music</p>
                        </div>
                </div>
                
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/c394d94e13.js" crossorigin="anonymous"></script>
    <script src="/js/songCreator.js"></script>
    <script src="/js/player.js"></script>
    <script src="/js/main.js"></script>
    
</body>
</html>