<div class="page-content">
    <div class="content-title">
        <h1>PRICING</h1>
    </div>

    <div class="content-container">
        <div class="pricing-container">
            <div class="pricing-heading">
                <h3>AVAILABLE  LEASES</h3>
                <p>*All prices listed in CAD</p>
            </div>
            <div class="tier-list">
                <div class="tier-item">
                    <h4 class="tier-title">Standards MP3 Lease</h4>
                    <h1 class="tier-price">$49.99</h1>
                    <ul class="tier-benefits">
                        <li class="tier-benefit">&#8226; Per 3,000 Units</li>
                        <li class="tier-benefit">&#8226; Receive Untagged MP3</li>
                        <li class="tier-benefit">&#8226; Sell up to 3,000 units</li>
                        <li class="tier-benefit">&#8226; Commercial Use</li>
                        <li class="tier-benefit">&#8226; Must Credit (Prod. Sixon)</li>
                        <li class="tier-benefit">&#8226; Sixon maintains full ownership of the instrumental</li>
                    </ul>
                </div>
                <div class="tier-item">
                    <h4 class="tier-title">Premium WAV Lease</h4>
                    <h1 class="tier-price">$59.99</h1>
                    <ul class="tier-benefits">
                        <li class="tier-benefit">&#8226; Per 3,000 Units</li>
                        <li class="tier-benefit">&#8226; Receive Untagged MP3</li>
                        <li class="tier-benefit">&#8226; Sell up to 3,000 units</li>
                        <li class="tier-benefit">&#8226; Commercial Use</li>
                        <li class="tier-benefit">&#8226; Must Credit (Prod. Sixon)</li>
                        <li class="tier-benefit">&#8226; Sixon maintains full ownership of the instrumental</li>
                    </ul>
                </div>
                <div class="tier-item">
                    <h4 class="tier-title">Premium Stem Lease</h4>
                    <h1 class="tier-price">$149.99</h1>
                    <ul class="tier-benefits">
                        <li class="tier-benefit">&#8226; Per 3,000 Units</li>
                        <li class="tier-benefit">&#8226; Receive Untagged MP3</li>
                        <li class="tier-benefit">&#8226; Sell up to 3,000 units</li>
                        <li class="tier-benefit">&#8226; Commercial Use</li>
                        <li class="tier-benefit">&#8226; Must Credit (Prod. Sixon)</li>
                        <li class="tier-benefit">&#8226; Sixon maintains full ownership of the instrumental</li>
                    </ul>
                </div>
                <div class="tier-item">
                    <h4 class="tier-title">Unlimited Stem Lease</h4>
                    <h1 class="tier-price">$299.99</h1>
                    <ul class="tier-benefits">
                        <li class="tier-benefit">&#8226; Per 3,000 Units</li>
                        <li class="tier-benefit">&#8226; Receive Untagged MP3</li>
                        <li class="tier-benefit">&#8226; Sell up to 3,000 units</li>
                        <li class="tier-benefit">&#8226; Commercial Use</li>
                        <li class="tier-benefit">&#8226; Must Credit (Prod. Sixon)</li>
                        <li class="tier-benefit">&#8226; Sixon maintains full ownership of the instrumental</li>
                    </ul>
                </div>
                <div class="tier-item">
                    <h4 class="tier-title">Exclusive Rights</h4>
                    <h1 class="tier-price">$--</h1>
                    <ul class="tier-benefits">
                        <li class="tier-benefit">&#8226; Per 3,000 Units</li>
                        <li class="tier-benefit">&#8226; Receive Untagged MP3</li>
                        <li class="tier-benefit">&#8226; Sell up to 3,000 units</li>
                        <li class="tier-benefit">&#8226; Commercial Use</li>
                        <li class="tier-benefit">&#8226; Must Credit (Prod. Sixon)</li>
                        <li class="tier-benefit">&#8226; Sixon maintains full ownership of the instrumental</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="full-container">
        <div class="split-container">
            <div class="split-1">
                <div class="contact-info">
                    <h2>LOOKING TO PURCHASE?</h2>
                    <p>Looking to purchase a beat or have general inquiries? Contact me using the contact form, send me an email, or DM me on Instagram</p>
                    <div class="socials-container">
                        <a href="" class="socials-item">
                            <div class="icon">
                                <i class="fab fa-instagram"></i>
                            </div>
                            <p>sixonmusic</p>
                        </a>
                        <a href="" class="socials-item">
                            <div class="icon">
                                <i class="fab fa-youtube"></i>
                            </div>
                            <p>sixonmusic</p>
                        </a>
                        <a href="" class="socials-item">
                            <div class="icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <p>sixonmusic@gmail.com</p>
                        </a>
                    </div>
                    <p>Prices are listed in CAD. All sales are final</p>
                    
                </div>
            </div>
            <div class="split-2">
                <div class="contact-container">
                    <div>
                        
                        <h2>CONTACT FORM</h2>
                        <%- include('./partials/messages'); %> 
    
                        <form action="/contact" id="contact-form" method="POST" autocomplete="off">
                            <div class="contact-form-1">
                                <div class="label-container">
                                    <label for="name">Name:</label>
                                    <input type="text" name="name" placeholder="Enter your name here">
                                </div>
                                <div class="label-container">
                                    <label for="email">Email:</label>
                                    <input type="text" name="email" placeholder="Enter your email here">
                                </div>
                                <div class="label-container">
                                    <label for="subject">Subject:</label>
                                    <input type="text" name="subject" placeholder="Enter the subject here">
                                </div>
                                
                            </div>
                            <div class="contact-form-3">
                                <div class="label-container">
                                    <label for="message">Message:</label>
                                    <textarea name="message" id="" cols="25" rows="5" placeholder="Enter your message here"></textarea>
                                </div>
                            </div>
                            <div class="submit-container">
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

            
        
    </div>
</div>